.wrapper-sign-up {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.sign-up-title {
    font-size: 40px;
    text-align: center;
    color: #052c65;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'RobotoRegular', sans-serif;
}
.error-sign-up {
    color: #bd0505;
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 400px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: flex;
    margin-bottom: 8px;
}

.input-group-text {
    display: flex;
    align-items: center;
    gap: 13px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    width: 397px;
    height: 38px;
}
.ig {
    margin-bottom: 10px;
}
.form-control {
    border: none;
    outline: none;
    flex: 1;
}
.iCheck {
    font-size: 12px;
    line-height: 192%;
    color: #000;
    display: flex;
    align-items: center;
    gap: 11px;
}
.btn-signUp {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    width: 397px;
    height: 38px;
    background: #0d6efd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-link-signUp {
    font-size: 12px;
    color: #000;
    align-items: center;
    margin-top: 10px;
    place-items: center;
    display: block;
}
.form-link a {
    margin-left: 10px;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0d6efd;
}
